<section class="forgot-password px-5 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <h1 class="logo mb-5 style-font"><img src="../../../../../assets/images/logo-white.png" alt=""></h1>
                </div>
                <div>
                    <h3 class="third-color">Forgot password</h3>
                    
                </div>
                <div class="py-5">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)" class="w-75 text-start">
                        
                        <div>
                            <div>
                                <label class=" text-white px-1">Email address</label>
                                <input type="email" class="form-control" placeholder="Type your email" aria-label="email"  formControlName="email">
                            </div>
                        </div>
                        
                      
                        
                        <div class="form-row py-4">
                            <div class="py-5" >
                                <button [disabled]="forgotPasswordForm.invalid" class="shadow-sm main w-25 bg-white text-black btn fw-bold">Send email <i class="fa-solid fa-circle-check"></i> </button>
                            </div>
                        </div>
                        <div class="text-end py-5">
                            <h6 class="text-white fw-light">Login?<span><a class="third-color text-decoration-none fw-bold" routerLink="/auth/login"> click here</a></span></h6>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 image_form border rounded-5 justify-content-end flex-column px-5">
            </div>
        </div>
    </div>
</section>