<section class="forgot-password  ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 mt-3">
                <div>
                    <h1 class="logo mb-5 style-font ms-4"><img src="../../../../../assets/images/logo-white.png" alt=""></h1>
                </div>
                <div>
                    <h3 class="third-color ms-4">Forgot password</h3>
                    
                </div>
                <div class="py-5 ms-4">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)" >
                        <label class="text-white">Email address</label>
                        <div class="input-group mb-3 w-100">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope text-white"></i></span>
                            <input type="text" class="form-control text-white" formControlName="email" placeholder="Type your email">
                        </div>
                        
                        <div class="form-row py-4 ">
                            <div class="pt-5 " >
                                <button class="btn-sign fw-bold" type="submit"> <span>Send mail </span>
                                    <i class="fa-solid fa-circle-check "></i>
                                  </button>
                            </div>
                        </div>
                        <div class="text-end">
                            <h6 class="text-white "><span><a class="third-color text-decoration-none" routerLink="/auth/login">Login?</a></span></h6>
                            <h6 class="text-white "><span><a class="third-color text-decoration-none" routerLink="/auth/resetpassword">Have a code?</a></span></h6>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-lg-5  col-sm-12 mt-5  d-flex justify-content-center ">
                <img src="../../../../../assets/images/auth-img.svg"  alt="">
              </div>
            
        </div>
    </div>
    
    
</section>