.fa-moon{
    font-size: 25px;
   
}
.dark-mode {
    background-color: #222222;
    color: #ffffff;
    position: fixed;
    min-height: 100vh; 
   
    
}

.position-mode{
    position: absolute;
    left:15rem;
    top: 0.6rem;
}