@import ".././../../../../assets/styles/abstracts/home";
.myPointer{
    cursor: pointer;
}

i{

    font-size: 50px;
}
.i-border{
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-radius: 10px;
    cursor: pointer;
    height:187.6px ;
}

.copy-icon{
    color: $third-color;
    font-size: 25px !important;
}
.arrow-icon{
    //padding-top: 30px;
    font-size: 20px !important;
   
}
