<section class="mt-4 ms-4">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 card ms-2">
            <div class="d-flex justify-content-between pt-3 pb-3 ">
                <span class="fw-bold">Upcoming 5 quizzes</span><span class="text-center">Quiz directory <i class="fa-solid fa-arrow-right-long arrow-icon"></i> <span class="mt-5 ps-2 "></span></span>
            </div>
            
         <div class=" d-flex justify-content-start many-card mb-2"  *ngFor="let item of tableOfQuiz">
            <div>
                <img src="../../../../../assets/images/Quiz img.png" class="">
            </div>
            <div class="ps-2">
                <h5>{{item.title}}</h5>
                <p>{{item.schadule | date:'short'}}</p>
                <p>Code: {{item.code}} <button class="btn" [cdkCopyToClipboard]="item.code"><i class="fa-solid fa-copy copy-icon"></i></button></p>
            </div>
           
            
         </div>
         
        </div>
        <div class="col-md-4 card ms-5 pb-5" *ngIf="userRole === 'Instructor'">
            <div class="d-flex justify-content-between pt-3 pb-3 ">
                <span class="fw-bold">Top five Students</span><span>All Students<span class="mt-5 ps-2 "><i class="fa-solid fa-arrow-right-long"></i></span></span>
            </div>
            
         <div class="d-flex justify-content-start many-card m-1" *ngFor="let item of tableOfStudent">
            <div>
                <img src="../../../../../assets/images/user img.png" class="">
            </div>
            <div class="ps-2">
              
                <span class=" fw-bold">{{item.first_name}}</span> <span class="ps-1  fw-bold">{{item.last_name}}</span>
                <br>
                <span>{{item.email}}</span>
           
            </div>
            
         </div>
        </div>
        <div class="col-md-4 card ms-5 pb-5" *ngIf="userRole === 'Student'">
            <div class="d-flex justify-content-between pt-3 pb-3 ">
                <span class="fw-bold">All information</span>
            </div>
            
         <div class="d-flex justify-content-center many-card m-1" >
            <div class="p-5 text-center myPointer" routerLink="/dashboard/student/quizzes-user">
                <i  class="fa-solid fa-business-time fx-5"></i>
                <h5 class="fw-bold pt-2">Quizzes</h5>
            </div>
            <div class="p-5 text-center myPointer"routerLink="/dashboard/student/results-user">
                <i class="fa-solid fa-clipboard-question fx-5"></i>
                <h5 class="fw-bold pt-2">Results</h5>
            </div>
            
         </div>
        </div>
    </div>
</div>
</section>