<section class="forgot-password px-5 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <h1 class="logo mb-5 style-font"><img src="../../../../../assets/images/logo-white.png" alt=""></h1>
                </div>
                <div>
                    <h3 class="third-color">Reset password</h3>
                    
                </div>
                <div class="py-3">
                    <form  [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="w-75 text-start">
                        
                        <div>
                            <label class="text-white">Email address</label>
                            <div class="input-group mb-3 w-100">
                                
                                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope text-white"></i></span>
                                <input type="text" class="form-control text-white"formControlName="email" placeholder="Type your email">
                              </div>
                              <label class="text-white">OTP</label>
                              <div class="input-group mb-3 w-100">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key text-white"></i></span>
                                <input type="text" class="form-control text-white"formControlName="otp" placeholder="Type your otp">
                              </div>
                            <div class="form-row">
                                <label class="text-white">Password</label>
                                <div class="input-group mb-3 w-100">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock text-white"></i></span>
                                    <input [type]="hide?'password':'text'" class="form-control text-white"formControlName="password" placeholder="Type your password">
                                    <a class="show-password text-white" (click)="this.hide= !this.hide">
                                        <i class="fa-solid gray" [class]="hide?'fa-eye-slash':'fa-eye'"></i>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        
                      
                        
                        <div class="form-row py-4">
                            <div class="py-2" >
                                <button class="shadow-sm main w-25 bg-white text-black btn fw-bold">Reset <i class="fa-solid fa-circle-check"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 image_form border rounded-5 ">
            </div>
        </div>
    </div>
</section>