@import"../../../../../assets/styles/abstracts/auth";
@import"../../../../../assets/styles/abstracts/colors";

section{
    background-color: $bg-main-color;
}
input{
    background-color:  rgba(13, 19, 33, 1) !important;
}
::placeholder{
    color: white !important;
}
.input-group-text{
    padding: 0.8rem 1rem;
    background-color: $bg-main-color;
    border-radius: 10px;
    border-right: none;
    
}
.show-password{
    position: absolute;
    right: 5px;
    bottom: 4px;
    transform: translate(-25%, -25%);
  }
