<section class="forgot-password px-5 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <h1 class="logo mb-5 style-font"><img src="../../../../../assets/images/logo-white.png" alt=""></h1>
                </div>
                <div>
                    <h3 class="third-color">Reset password</h3>
                    
                </div>
                <div class="py-3">
                    <form  [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" class="w-75 text-start">
                        
                        <div>
                            <div>
                                <label class=" text-white p-1">Email address</label>
                                <input type="email" class="form-control" placeholder="Type your email" aria-label="email"  formControlName="email">
                            </div>
                            <div>
                                <label class=" text-white p-1">OTP</label>
                                <input type="text" class="form-control" placeholder="Type your otp" aria-label="email"  formControlName="otp">
                            </div>
                            <div class="form-row">
                                <div class="form-group position-relative">
                                    <label class=" text-white p-1">Password</label>
                                    <input [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Enter your password" aria-label="password" formControlName="password">
                                    <a class="show-password text-black-50" (click)="this.hide= !this.hide">
                                        <i class="fa-solid gray" [class]="hide?'fa-eye-slash':'fa-eye'"></i>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        
                      
                        
                        <div class="form-row py-4">
                            <div class="py-2" >
                                <button class="shadow-sm main w-25 bg-white text-black btn fw-bold">Reset <i class="fa-solid fa-circle-check"></i> </button>
                            </div>
                        </div>
                        <div class="text-end py-5">
                            <h6 class="text-white fw-light">Login?<span><a class="third-color text-decoration-none fw-bold"> click here</a></span></h6>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 image_form border rounded-5 justify-content-end flex-column px-5">
            </div>
        </div>
    </div>
</section>