<section id="add-edit-group" class=" ">
    <div class="container ">
       <div class="row group-set ">
        <div class="col-md-10 ps-3 pt-4  pb-3">
            <h4 class="ps-4">Set up a new Group</h4>
        </div>
        <div class="col-md-1 text-center col-border " >
            <button [mat-dialog-close]="data" cdkFocusInitial class="">
                <i class="fa-solid fa-check fs-3 pt-4" ></i>
            </button>
     
        </div>
        <div class="col-md-1 col-border ">
            <button (click)="onNoClick()">
                <i class="fa-solid fa-xmark fs-3 pt-4"></i>
            </button>

        </div>
       </div> 
   
       <div class="row mt-5">
        <div class="col-md-12 ">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="input-group mb-4 ">
                    <span class="input-group-text" id="basic-addon3">Group Name</span>
                    <input  [(ngModel)]="data.name"
                     type="name" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3 ">
                    <label class="input-group-text" for="inputGroupSelect01">List Students</label>
                    <select [(ngModel)]="data.first_name" class="form-select" id="inputGroupSelect01">
                        <option *ngFor="let students of tableOfStudents" >{{students.email}}</option>
                      </select>
                        <!-- <mat-select  [(ngModel)]="data.first_name" class="form-select" id="inputGroupSelect01">
                           
                            <mat-option  *ngFor="let students of tableOfStudents" >{{students.first_name}}</mat-option>
                      
                        </mat-select> -->
                   
                  </div>
            </div>
   
        </div>
    
       </div>
    </div>
  

  </section>
  