@import"../../../assets/styles/abstracts/colors";

.backgound{

    border-bottom:  1px solid  rgba(174, 170, 170, 0.74);
    border-left:  1px solid  rgba(174, 170, 170, 0.74);
    
    
}
.padding-style{
    padding-right: 70px;
    border-left: 1px solid  rgba(174, 170, 170, 0.74);
}
