@import"../../../../../assets/styles/abstracts/variables";
@import"../../../../../assets/styles/abstracts/auth";
@import"../../../../../assets/styles/abstracts/register.scss";
#my-Profile{
    background-color: white !important;
}
.form-control{
   // background-color: rgba(66, 67, 69, 0.868) !important;
}
h4{
    color:rgb(220, 197, 179) !important;
   // color: $second-color !important;
}

.btn-profile{
    background-color: $bg-btn-color;
    color: $bg-main-color;
    border-radius: 10px;
    border: none;
    padding: 15px 25px;

   transition: all 0.2s ease-in ; 


}
.btn-profile:hover{
    
    background-color:  $second-color;
    padding: 15px 25px;
    width: 128.69px;
    height:54.8px ;
}
.btn-profile:hover span{
    display: none;

}
.btn-profile i{

        font-size: 22px;
        color:rgba(0, 0, 0, 1) ;
    
}
.form-control{
    background-color:  rgb(220, 197, 179)  !important;
}
#basic-addon1{
    background-color:  rgb(220, 197, 179)  !important;
}

