<div class="container-fluid">
    <div class="row ">
        <div class="col-2 px-0" >
            <app-sidebar ></app-sidebar>
        </div>
        <div class="col-10">
            <app-navbar></app-navbar>

            

            <section id="my-Profile" class="">
                <div class="container py-4">
                  <div class="row">
                      <div class="">
                     
                              <h4 class="ms-4 mt-1 pb-1">Change your Password!</h4>
                              <div class="ms-4 ">
                            
                              </div>
            <form class="pt-2" [formGroup]="userpassword" (ngSubmit)="onSubmit(userpassword)">
                <div class="">
                  <div class="row ">
                     
                  
                  </div>
                
                
                </div>
                     
                <label for="password" class="mt-1 ps-2 text-black">old Password</label>
                            
                <div class="input-group mb-1 w-100">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock text-white"></i></span>
                    <input [type]="hide?'password':'text'" class="form-control text-white" formControlName="password" placeholder="Type your old password">
                    <a class="show-password text-white" (click)="this.hide= !this.hide">
                        <i class="fa-solid gray" [class]="hide?'fa-eye-slash':'fa-eye'"></i>
                    </a>
                </div>
              
                 <label for="password" class="mt-1 ps-2 text-black">new Password</label>
                            
                 <div class="input-group mb-1 w-100">
                     <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock text-white"></i></span>
                     <input [type]="confirmHide?'password':'text'" class="form-control text-white" formControlName="password_new" placeholder="Type your new password">
                     <a class="show-password text-white" (click)="this.confirmHide= !this.confirmHide">
                         <i class="fa-solid gray" [class]="confirmHide?'fa-eye-slash':'fa-eye'"></i>
                     </a>
                 </div>
             
             
            
                  <button class="btn-profile fw-bold mt-1 " type="submit"> <span>Save</span>
                    <i class="fa-solid fa-circle-check ps-2"></i>
                  </button>
                  
            </form>
                      </div>
                  </div>
                </div>
            </section>
            
            
              
        </div>     
    </div>
</div>
