@import "../../../assets/styles/abstracts/variables";


section{
   border-right: 1px solid rgba(0, 0, 0, 0.2);
 
button{
    border: none;
    background-color: transparent;

        text-align: center;
    }
}

.height-side{
  height: 48px;
}

    ul{
       
        li{
          
            list-style: none;
          
            a{
                text-decoration: none;
               span{
                margin: 0 6px;
               }
            }
        }
    }
  li  i{
        color: $sidebar-icon-color; 
        background-color: $second-color;
        border-radius: 10px;
        padding: 12px;
        width: 54px;
        height: 48px;
        text-align: center;
      }   
      li span{
        
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
       
        
      }
      .hover-div{
          transition: all 0.5s ease-in;
      }
      .hover-div:hover{
                 background-color: rgba(250, 235, 215, 0.319);
                 border-right:5px solid #0D1321 !important ;
                          
      }
     
  
    .bg-main-transparent{
        //padding: 10px 35px;
  
      
          
          i{
            color:$second-color; 
            background-color:  $sidebar-icon-color;
     
          }  
    
    

    }

    .myPointer{
      cursor: pointer;

    }
    


