@import "../../../assets/styles/abstracts/variables";


section{
   border-right: 1px solid rgba(0, 0, 0, 0.2);
button{
    border: none;
    background-color: transparent;

        text-align: center;
    }
}

.height-side{
  height: 48px;
}

    ul{
       
        li{
          
            list-style: none;
          
            a{
                text-decoration: none;
               span{
                margin: 0 6px;
               }
            }
        }
    }
  li  i{
        color: $sidebar-icon-color; 
        background-color: $second-color;
        border-radius: 10px;
        padding: 12px;
        width: 54px;
        height: 48px;
        text-align: center;
      }   
      li span{
        
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
       
        
      }
      .hover-div{
          transition: all 0.5s ease-in;
      }
      .hover-div:hover{
                 background-color: rgba(250, 235, 215, 0.229);
                 border-right:5px solid #0D1321 !important ;
                          
      }
     
  
    .bg-main-transparent{
        //padding: 10px 35px;
        border-radius: 8px;
      
          background-color: rgba(239, 155, 40, 0.3);    
          i{
            color:$second-color; 
            background-color:  $sidebar-icon-color;
     
          }  
          
          
     
  

    

    }

// .style-arrow{
//   background-color:#0E382F !important; 
//  border-radius: 0 !important;
//  padding: 0px !important;

// }
// .square{
//   //margin-left:0px !important;
// }
// .h1{
//   text-align: center !important;
// }