<section class="overflow-auto vh-100">
    <div class=" text-center height-side">
        <button class=" style-arrow text-white square" (click)="toggleSidebar()" [ngClass]="isOpened?'togglebtn':'reverse-btn'">
          <div class="d-flex justify-content-around pt-3  ">
            <i class="fa-solid fa-bars text-dark fs-2 "></i>
            <img src="../../../assets/images/Logo-navbar.svg" class="w-75 text-center  px-5 ">
          </div>
       
        </button>
    </div>
    <hr>
    <ul [ngClass]="isOpened?'text-start':'text-center'" class="ps-0">
        <ng-container *ngFor="let item of Menu">
            
         <li *ngIf="item.isActive" class="hover-div py-2">
        <a   [routerLink]="[item.link]"routerLinkActive="bg-main-transparent"class="text-dark">
          
            <div  [ngClass]="isOpened ? 'ps-3' : 'ps-0'">
                <span><i [class]=item.icon></i></span>
                <span [ngClass]="isOpened?'d-inline':'d-none'">{{item.text}}</span>
            </div>
           
        </a>
       </li>
     <hr>
    </ng-container>
  
    </ul>

</section>

<!-- 
<section>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
  
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle 
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror ms-4">
         menu
      </mat-icon>
    </button>
     <hr>
    {{node.name}}
  </mat-tree-node>
</mat-tree>

</section> -->