<section id="group-list py-5 mt-2">
    <div class="container">
        <div class="d-flex justify-content-end mb-3 mt-2">
            <button class="main px-5"><i class="fa-solid fa-circle-plus pe-2"></i>Add Student</button>
        </div>
        <div class="row border p-3 rounded-3 mb-3">
           <div class="col-12">
            <h3 class="pb-3">Students List</h3>
            <div class="row">
                <div class=" col-md-5 card-content mb-3 ms-5 me-5" *ngFor="let item of tableOfStudentList">
                    <div class="row">
                        <div class="col-md-2">  <img src="../../../../../../assets/images/user img.png" alt="">
                        </div>
                        <div class="col-md-10">
                            <h5 class="ps-2 pt-2"> {{item.first_name}} {{item.last_name}}</h5>
                            <span class="ps-2 pt-2">No. of students: {{item.group.max_students}}</span><span class="float-end pb-4 pe-3">
                                <i  class="fa-regular fa-pen-to-square fs-4"></i> <a  class="mypointer text-black">
                                    <i class="fa-regular fa-trash-can ps-2 fs-4" ></i></a></span>
                        </div>
                    </div>
                  
                  </div>
                  <div class=" col-md-5 card-content mb-3 ms-5 me-5" *ngFor="let item of tableOfStudentList">
                    <div class="row">
                        <div class="col-md-2"> 
                              <img src="../../../../../../assets/images/user img.png" alt="">
                        </div>
                        <div class="col-md-10">
                            <h5 class="ps-2 pt-2"> {{item.first_name}} {{item.last_name}}</h5>
                            <span class="ps-2 pt-2">No. of students: {{item.group.max_students}}</span><span class="float-end pb-4 pe-3">
                                <i  class="fa-regular fa-pen-to-square fs-4"></i> <a  class="mypointer text-black">
                                    <i class="fa-regular fa-trash-can ps-2 fs-4" ></i></a></span>
                        </div>
                    </div>
                  
                  </div>
            </div>
            
           </div>
           
        </div>
    </div>

</section>