// @import"../../../../../../assets/styles/abstracts/groupList";
i{

    font-size: 50px;
}
.i-border{
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-radius: 10px;
    cursor: pointer;
    height:160.6px ;
}
thead{
    background-color: black;
}