<section>
    <div class="container-fluid mt-4 ">
        <div class="row d-flex flex-nowrap">
            <div class="col-md-4 d-flex justify-content-center mt-5">
                <div class="p-5 i-border mx-3 text-center">
                    <i class="fa-solid fa-business-time fx-5"></i>
                 
                </div></div>
            <div class="col-md-7 mt-5 i-border ">

                <table class="table my-3">
                    <thead class="table-dark">
                        <tr>
                            <th class="col-md-2"> Title</th>
                            <th class="col-md-2">Group name</th>
                            <th class="col-md-4">No. of persons in group</th>
                            <th class="col-md-1">Date</th>
                          
                          </tr>
                    </thead>
                    <tbody>
                        <tr >
                          
                            <!-- <td>{{item.title}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.difficulty}}</td>
                            <td>12/06/2024</td> -->
                        
                          </tr>
            
                    </tbody>
                  </table>
            </div>
            </div></div></section>