<section id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-12  mt-5">
                 <div class="ms-4 mb-2">
                    <img src="../../../../../assets/images/Logo-white.svg" alt="">
                 </div>
                    <h4 class="ms-4 mt-5 pb-3">Continue your learning journey with QuizWiz!</h4>
                    <div class="ms-4 ">
                        <button class="btn-icon me-5 text-center">
                          <i class="fa-solid fa-user pt-2 "></i>
                      
                         <p class="pt-2">Sign In</p> 
                        </button>
                        <button class="btn-icon text-center">
                          <i class="fa-solid fa-user-plus ps-1 pt-2"></i>
                        <p class="pt-2 ">Sign Up</p> 
                        </button>
                    </div>
                    <div class="auth-form ms-4 mt-5">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                          <div class="my-3 ">
                            <label for="email " class="my-1 ps-2">Registered email address</label>
                            <input type="email" class="form-control mb-1" formControlName="email" id="email">
                            <div *ngIf="loginForm.controls['email'].touched&&loginForm.controls['email'].errors" class=" w-100 ">
                              <p class="text-danger" *ngIf="loginForm.controls['email'].errors['email']">
                                Email should be valid </p>
                              <p class="text-danger" *ngIf="loginForm.controls['email'].errors['required']">
                                Email is required</p>
          
                            </div>
                          </div>
                          <div>
          
                            <label for="password" class="my-1 ps-2">Password</label>
                            <div class="position-relative mt-1">
                                <input 
                              
                                type='text'
                                formControlName="password" id="password"
                                  class="form-control mb-1 ">
                              <!-- <input 
                              
                              [type]="!showPass ? 'password' : 'text'"
                              formControlName="password" id="password"
                                class="form-control mb-1 "> -->


                              <!-- <div (click)="showPass = !showPass"> -->
                                <!-- <span class="eye"><i
                                    [class]="!showPass ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i></span>
           -->
                              <!-- </div> -->
          
                            </div>
                          </div>
          
                          <div *ngIf="loginForm.controls['password']?.errors && loginForm.controls['password']?.touched"
                            class="w-100 ">
                            <p class="text-danger" *ngIf="loginForm.controls['password']?.errors?.['required']">
                              Password is required</p>
                            <p class="text-danger" *ngIf="loginForm.controls['password']?.errors?.['pattern']">
                              Password must be contain special character</p>
                          </div>
          
                          <div class="w-75 text-end pe-2 pt-1 pb-4 ">
                            <a class="anchor-color" routerLink="/auth/forgot-password">Forget password</a>
                          </div>
          
                          <div class="my-3">
                            <button type="submit">Sign In</button>
                          </div>
          
          
          
                        </form>
                      </div>
                  
</div>
            <div class="col-md-5 col-lg-5  col-sm-12 mt-5  d-flex justify-content-center ">
              <img src="../../../../../assets/images/auth-img.svg"  alt="">
            </div>
        </div>
    </div>
</section>