<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, sunt praesentium tempora facere ullam error possimus deserunt libero sit atque repudiandae dolores sed quod quaerat. Debitis cum nobis sequi adipisci!</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <img src="../../../../../assets/images/auth-img.svg" alt="">
            </div>
        </div>
    </div>
</section>