<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-center">
        <div
          class="p-5 i-border i-height mx-3 text-center"
          (click)="openAddQuizDialog()"
        >
          <i class="fa-solid fa-business-time fx-5"></i>
          <h5 class="fw-bold pt-2">Set up new a quiz</h5>
        </div>
        <div
          class="p-5 i-border i-height mx-3 text-center"
          routerLink="/dashboard/instructors/question-list"
        >
          <i class="fa-solid fa-clipboard-question fx-5"></i>
          <h5 class="fw-bold pt-2">Questions bank</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="i-border px-3 py-3">
                <div class="d-flex justify-content-between pt-3 pb-3">
                  <h4 class="fw-bold">Upcoming quizzes</h4>

                  <span
                    ><i
                      class="fa-solid fa-arrow-right-long fs-3 px-2 pt-2 text-center"
                    ></i
                  ></span>
                </div>

                <div
                  class="d-flex many-card my-2 d-felx justify-content-between"
                  *ngFor="let item of tableOfQuiz"
                >
                  <div class="d-flex ">
                    <img
                      src="../../../../../assets/images/Quiz img.png"
                      class=""
                    />
                   
                    <div class="ps-2">
                        <div class="container">
                            <div class="row">
                                <h5>{{ item.title }}</h5>
                                <p>{{ item.schadule | date : "short" }}</p>
            
                               
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-md-8" > 
                                    <p class="fw-bold">
                                        No. student's enrolled: {{ item.participants }}
                                      </p>
                                    </div>
                                      <div class="col-md-4 text-end ">
                                    <a class="fw-bold" 
                       [routerLink]="['/dashboard/instructors/view-quiz', item._id]"
                                    >
                                    open
                                    <i class="fa-solid fa-circle-arrow-right fs-5 third-color"></i>
                                      </a>
                                </div>
                            
                            </div>
                        </div>
                   
                   
                   
                        </div>
                    
                  </div>

                 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="i-border  px-3 py-3">
                            <h4  class="fw-bold pt-3">Completed Quizzes</h4>
                            <table class="table my-3">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="col-md-3"> Title</th>
                                        <th class="col-md-2">Type Field</th>
                                        <th class="col-md-2">Status</th>
                                        <th class="col-md-1">Duration</th>
                                      
                                      </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of comletedQuizzes " >
                                      
                                        <td>{{item.title}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item.duration}}</td>
                                    
                                      </tr>
                        
                                </tbody>
                              </table>
                        </div>
                      
                    </div>
       
                </div>
        </div>
      </div>
    </div>
  </div>
</section>