@import ".././../../../../../assets/styles/abstracts/home";
@import ".././../../../../../assets/styles/abstracts/colors";

i{

    font-size: 50px;
}
.open-icon{
    
    margin-bottom:5px;
}
.i-border{
    border: 1px solid rgba(0, 0, 0, 0.203);
    border-radius: 10px;
    cursor: pointer;
   // 
}
.i-height{
    height:187.6px ;
}