<section id="register" class="register">
<div class="container">
    <div class="logo pt-1">
       <img src="../../../../../assets/images/logo-white.png">
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="pt-4 main-style">Create your account and start using QuizWiz!</h5>
            <div class="pt-2">
            <div class="text-white text-center float-start userIcon sign-icon myPointer">
              <a [routerLink]="['/auth/login']"  [routerLinkActive]="['active-btn-class']"
              class="text-white"><i class="fa-solid fa-user fa-2x p-2"></i></a>
            <br><p class="">Sign in</p>
            </div>
           
            <div class="text-white text-center float-start ms-4 userIcon sign-icon myPointer" >
              <a [routerLink]="['/auth/register']"  [routerLinkActive]="['active-btn-class']"
              class="text-white"><i class="fa-solid fa-user-plus fa-2x p-2"></i> </a><br><p class="">Sign up</p>
              
                </div>
            </div>
            <div class="clearfix"></div>
            <form class="pt-3" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
                <div class="d-flex justify-content-between">
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-address-card text-white"></i></span>
                    <input type="text" class="form-control me-5 text-white" formControlName="first_name" placeholder="Type your first name">
                   
                    <div *ngIf="registerForm.controls['first_name'].errors&&registerForm.controls['first_name'].touched" class="w-100">
                      <p class="text-danger" *ngIf="registerForm.controls['first_name'].errors['required']">first name is required</p>
                      <p class="text-danger" *ngIf="registerForm.controls['first_name'].errors['first_name']">first name should be maxLength is 10</p>
                    </div>
                  </div>
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-address-card text-white"></i></span>
                    <input type="text" class="form-control text-white"formControlName="last_name" placeholder="Type your last name">
                    <div *ngIf="registerForm.controls['last_name'].errors&&registerForm.controls['last_name'].touched" class="w-100">
                      <p class="text-danger" *ngIf="registerForm.controls['last_name'].errors['required']">first name is required</p>
                      <p class="text-danger" *ngIf="registerForm.controls['last_name'].errors['last_name']">first name should be maxLength is 10</p>
                    </div>
                  </div>
                </div>
                <label class="text-white">Your email address</label>
                <div class="input-group mb-3">
                   
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope text-white"></i></span>
                    <input type="email" class="form-control text-white" formControlName="email" placeholder="Type your email">
                    <div *ngIf="registerForm.controls['email'].errors&&registerForm.controls['email'].touched" class="w-100">
                      <p class="text-danger" *ngIf="registerForm.controls['email'].errors['required']">email is required</p>
                     
                    </div>
                  </div>
                 <div>
                  <select class="form-select text-white" aria-label="Default select example" id="basic-addon1" formControlName="role">
                    
                    <option selected class="text-white">Choose your role</option>
                    <option value="Student" class="text-white">Student</option>
                    <option value="Instructor" class="text-white">Instructor</option>
                    
                  </select>
                  <div *ngIf="registerForm.controls['role'].errors&&registerForm.controls['role'].touched" class="w-100">
                    <p class="text-danger" *ngIf="registerForm.controls['role'].errors['required']">Role is required</p>
                   
                  </div>

                 </div>
                  <label class="text-white">Password</label>
                <div class="input-group mb-3">
                   
                    <span class="input-group-text text-white" id="basic-addon1"><i class="fa-solid fa-key text-white"></i></span>
                    <input [type]="hide ? 'password' : 'text'" class="form-control text-white position-relative" formControlName="password" placeholder="Type your Password">
                    <a class="show-password" (click)="hide = !hide">
                      <i class="fa-solid text-white" [class]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </a>
                    <div *ngIf="registerForm.controls['password'].errors&&registerForm.controls['password'].touched" class="w-100">
                      <p class="text-danger" *ngIf="registerForm.controls['password'].errors['required']">password is required</p>
                    </div>
                  </div>
                  <button class="main" [disabled]="registerForm.invalid">Sign Up<i class="fa-solid fa-circle-check p-1 fa-1x"></i></button>
            </form>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
      <img src="../../../../../assets/images/auth-photo.png" class="">
        </div>
    </div>
</div>
</section>
