@import "../abstracts/variables";

section{
    background-color: $bg-main-color;
    height: 100vh;
    img{
        border-radius: 20px;
    }
    h4{
        color:$third-color ;
    }

    label,i , p{
        color: $fourth-color;
    }
    label{
        font-weight: 700;
    }
    i{
        font-size: 1.5rem;
       
    }
    .btn-icon{
       // padding: 30px 50px;
       width:170px ;
       height: 120px;
       border: none;
       border-radius: 10px;
       background-color: $bg-second-color;
    }
    .active-btn-class{
       border: 5px solid $third-color;
     
       i{
        color:  $third-color !important;
       }
        
    }
   
    .text-error{
        color: $third-color;
    
    }
 
    .btn-sign{
        background-color: $bg-btn-color;
        color: $bg-main-color;
        border-radius: 10px;
        border: none;
        padding: 15px 25px;

       transition: all 0.2s ease-in ; 


    }
    .btn-sign i{

            font-size: 22px;
            color:rgba(0, 0, 0, 1) ;
        
    }
   

    .form-control {
        width: 90%;
        padding: 0.8rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(255, 255, 255, 1);
        background-color: $bg-main-color;
        border: 3px solid  rgba(255, 255, 255, 1);
        border-radius: 10px;
        border-left: none;
    }

    ::placeholder {
        color: white;
        opacity: 0.5; 
      }
    
    .input-group-text{
        padding: 0.8rem 1rem;
        background-color: $bg-main-color;
        border: 3px solid  rgba(255, 255, 255, 1);
        border-radius: 10px;
        border-right: none;
        
    }
}

