@import"./variables";
.show-password{
    position: absolute;
    right: 5px;
    bottom: 0;
    transform: translate(-25%, -25%);
  }

  .forgot-password {
    .signup-design {
        margin-left: 83px;
    }
    .image_form {
        background-image: url("../../images/auth-photo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .row {
        height: 100vh;
        padding: 20px;
    }
    .title_form {
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
    }

}