@import "../abstracts/variables";

.show-password{
    position: absolute;
    right: 5px;
    bottom: 4px;
    transform: translate(-25%, -25%);
  }

   .btn-sign:hover{
        
        background-color: $third-color;
        padding: 15px 25px;
        width: 128.69px;
        height:54.8px ;
    }
    .btn-sign:hover span{
        display: none;
   
    }
#register{
    background-color: rgba(13, 19, 33, 1) !important;
     background-position: center center;
    height: 100vh;
    overflow: auto;
     width: 100%;
     position: fixed;
    .logo{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .main-style{
         color: rgba(197, 216, 109, 1);
         font-family: Nunito;
    }
    .userIcon{
        background-color:rgba(51, 51, 51, 1) !important;
        padding: 10px 40px;
        border-radius: 10px;
       
        //rgba(51, 51, 51, 1)
        //rgba(197, 216, 109, 1)
    }

}
.form-control{
    background-color:  rgba(13, 19, 33, 1) !important;
}
#basic-addon1{
    background-color:  rgba(13, 19, 33, 1) !important;
}
input::placeholder{
   color:white !important;
}
.main{
    padding: 10px 28px !important;
    border-radius: 10px;
    border: white solid !important;
    background-color: white;
    color: black;
}
.myPointer{
    cursor:pointer;
}

.active-btn-class{
    div{
        border: 5px solid $third-color;
    }
   
  
    i{
     color:  $third-color !important;
    }
     
 }
// .sign-icon:hover{
//     border: solid 5px rgba(197, 216, 109, 1);

// }
// .sign-icon i:hover{
//     color:rgba(197, 216, 109, 1);
// }
