.green{
    background-color:rgba(255, 237, 223, 1) !important;
    border-radius: 10px;
    border: rgba(255, 237, 223, 1) !important;
}
.main{
    background-color:rgba(255, 237, 223, 1) !important;
}
.fa-circle-check{
    font-size: 50px !important;
}