@import "../../../../../../assets/styles/abstracts/add-edit-group";

select{
    border-top: 1px solid rgba(186, 186, 186, 0.658);
    border-bottom: 1px solid rgba(186, 186, 186, 0.658);
    border-right: 1px solid rgba(186, 186, 186, 0.658);
    border-left: none;
    border-radius: 5px;
}